<!-- <!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    {% include header.html %}
  </head>

  <body> -->
      <div id="main-content" class="clearfix" style="max-width: 100%;">
        {{ content }}
      </div>
    <!-- {% include footer.html %} -->
  <!-- </body>
</html> -->